.mycard {
  box-shadow: 1px transparent;
  padding: 5rem !important;
}

.cardherf {
  text-decoration: none;
}

.carousel-hero {
  width: 62rem;
  height: 42rem;
  margin: 0 auto;
}

.radius {
  border-radius: 3%;
}

.img-card {
  align-self: center;
  width: 50% !important;
}

.card-item {
  transform-style: preserve-3d;
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(
    25deg,
    rgba(75, 53, 118, 1) 0%,
    rgba(248, 177, 60, 1) 86%
  );
  transition: all 0.1s ease;
}
